*{
    padding: 0;
    margin: 0;
}

.error-alert {
    background-color: red;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*------------------------- HEADER --------------------------------------*/


.titre{
    font-size: 40px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(126, 217, 87);
    color: white;
    height: 80px;
}

.divnav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-align: right;
}

.correctlink{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.correctlink:hover{
    color: rgb(255, 255, 255);
    border-top-style: solid;
    border-color: rgb(0, 0, 0);
    padding-top: 15px;
    margin-top: -10px;
}
.fa-user {
    background-color: rgb(255, 255, 255);
    padding: 13px 16px 13px 16px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: -8px;
    color: rgb(0, 0, 0);
}


/*------------------------- FOOTER --------------------------------------*/


.footer {
    display: flex;
    background-color: rgb(126, 217, 87);
    justify-content: space-around;
    margin-top: 100px;
}
.foo-brands {
    background-color: rgb(255, 189, 89);
    background-size: auto;
    font-size: large;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 75px;
    border-radius: 3px;
}

.footerdiv {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

ul li {
    margin-top: 10px;
    margin-left: -20px;
}

.move_lines {
    margin-top: 20px;
}

.space {
    margin-top: 60px;
}

.footlink{
    text-decoration: none;
    color: rgb(0, 0, 0)
}

ul{
    list-style-type: square;
}

div p{
    margin-top: 10px;
}

.infos{
    margin-top: 20px;
}

.logos{
    margin-top: 20px;
}


/*------------------------- COLOR --------------------------------------*/


.color_black {
    color: rgb(0, 0, 0);
}



/*------------------------- ACCUEIL --------------------------------------*/



.titlecreateaccount{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 45px;
}

.createaccount{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 50px;
    margin-top: 45px;
}

#monnaie{
    margin-left: 620px;
    width: 220px;
    border-radius: 5px;
}

.createaccount select{
    margin-top: 20px;
}

.createaccount form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 5px;
}

.createaccount form input{
    margin-top: 10px;
}

.solde{
    width: 215px;
    margin-left: 620px;
}

.numberaccount{
    width: 215px;
    margin-left: 620px;
}

.buttonvirement{
    width: 120px;
    margin-left: 670px;
}

.buttondaccount{
    width: 120px;
    margin-left: 670px;
}



/*------------------------- LOGIN --------------------------------------*/


.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 5%;
}

.zone{
    margin-bottom: 15px;
    border-radius: 5px;
    padding-left: 20px;
    width: 350px;
    border: rgb(126, 217, 87) solid 1px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(181, 174, 174, 0.901);
    color: rgb(0, 0, 0);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100px;
    height: 50px;
    background: rgb(126, 217, 87);
    border: rgb(126, 217, 87) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: white;
}

.reglink{
    text-decoration: none;
    color: rgb(126, 217, 87);
    margin-left: 10px;
}

.mdp{
    text-decoration: none;
}

.connexion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

.block_form{
    border: rgb(126, 217, 87) solid 2px;
    border-radius: 5px;
    height: 500px;
    width: 450px;
}

.block_logo{
    display: flex;
    align-items: center;
}

img{
    height: 504px;
}

.total{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 40px;
}

form{
    margin-top: 30px;
}

form div{
    margin-top: 20px;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 189, 89);
    bottom: 40px;
    right: 50px;
    opacity: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}


/*------------------------- REGISTER --------------------------------------*/



.title{
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin-top: 45px;
}

.register {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.border_register{
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(126, 217, 87) solid 5px;
    width: 500px;
    height: 600px;
}

form .zone_register {
    width: 100%;
    display: flex;
    min-height: 20px;
    margin-top: 15px;
    appearance: none;
    color: rgba(181, 174, 174, 0.901);
}

.integrate_text {
    background: #ffffffc7;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 2px 2px 0px rgba(0,0,50,0.25);
    height: 50px;
    padding-left: 10px;
    width: 400px;
}

.user_box {
    width: 700px;
    margin-bottom: 35px;
    flex-direction: column;
    margin-top: 85px;
}
.zone_register{
    display: flex;
    flex-direction: column;
}
.space_register{
    display: flex;
    flex-direction: row;
}
.button_register{
    width: 100px;
    height: 50px;
    background: orange;
    border: rgba(0, 0, 50, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: white;
    margin-top: 10px;
    padding-left: -20px !important;
}

.connect{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: orange;
    margin-left: 10px;
    margin-top: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*------------------------- COLOR --------------------------------------*/

.color_orange {
    color: orange;
}

.color_gray {
    color: rgb(168, 167, 167);
}

/*------------------------- PAGE DE GESTION.php --------------------------------------*/

#choixfiltre{
    justify-content: center;
    text-align : center;
}
input[type="radio"].optioncheck{
    flex-direction : row;
    justify-content:center;
    margin-left: 20px;
}
#tabgestion {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#tabgestion td, #tabgestion th {
    border: 1px solid #ddd;
    padding: 8px;
}
#tabgestion th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3df161;
    color: white;
}
#tabgestion tr:nth-child(even){background-color: lightgray;
}
.btngest{
    background-color : white;
    width : 150px;
    height : 30px;
}

#submitfiltre{
    width : 100px;
    height : 30px;
    border-style: solid;
    background-color : white;
    border-color : black;
    margin-top : 15px;
    margin-left : 20px;
    margin-bottom : 15px;
}

#gererUsers{
    border-radius: 5px;
}

.buttonGestion{
    background-color: rgb(126, 217, 87);
    border: none;
    border-radius: 5px;
    color: white;
    width: 50px
}

.validerall{
    margin-left: 1250px;
    border: none;
    text-decoration: none;
    width: 100px;
    height: 30px;
    background: rgb(126, 217, 87);
    border: rgb(126, 217, 87) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: white;
}

#decobutton{
    margin-top: 50px;
}